body {
    text-align: center;
    font-family: Arial;
    background-color: #fce4ec;
}

h1, h2 {
    color: #c2185b;
}

button {
    padding: 10px 20px;
    background-color: #c2185b;
    color: white;
    border: none;
    border-radius: 5px;
}
